body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: black;
}

.logo {
    font-size: 28px;
    color: gold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s;
}

nav a:hover {
    color: silver;
}

.hero {
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1508057198894-247b23fe5ade") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    background: rgba(0,0,0,0.6);
    padding: 40px;
    border-radius: 10px;
}

button {
    padding: 12px 25px;
    background: goldenrod;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background: whitesmoke;
}

.products {
    padding: 50px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.05);
    background: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background: black;
    margin-top: 40px;
}
